body {
    font-family: 'Lato', sans-serif;
	font-family: 'brandongrotesque';
	padding-top:99px;
}
a, .btn {
	transition:all ease-in-out 0.3s;
}
/*
font-family: 'Cagliostro', sans-serif;
font-family: 'Reem Kufi', sans-serif;
f8a41e-orange
93f806-green
3f5c22-thickgreen
*/
@font-face {
    font-family: 'brandongrotesque';
    src: url('../fonts/brandon-grotesque/brandongrotesque.eot');
    src: url('../fonts/brandon-grotesque/brandongrotesque.eot') format('embedded-opentype'),
         url('../fonts/brandon-grotesque/brandongrotesque.woff2') format('woff2'),
         url('../fonts/brandon-grotesque/brandongrotesque.woff') format('woff'),
         url('../fonts/brandon-grotesque/brandongrotesque.ttf') format('truetype'),
         url('../fonts/brandon-grotesque/brandongrotesque.svg#brandongrotesque') format('svg');
}
.radius3 {border-radius:3px !important;} .radius5 {border-radius:5px !important;} .radius10 {border-radius:10px !important;}
.mt-10 { margin-top: 10px;} .mt-15 { margin-top: 15px;} .mt-20 { margin-top: 20px;} .mt-25 { margin-top: 25px;} .mt-30 { margin-top: 30px;} .mt-35 { margin-top: 35px;} .mt-40 { margin-top: 40px;}.mt-50 { margin-top: 50px;}.mt-60 { margin-top: 60px;}.mt-65 { margin-top: 65px;}.mt-80 { margin-top: 80px;}.mt-100 { margin-top: 100px;}
.mb-10 { margin-bottom: 10px;}.mb-15 { margin-bottom: 15px;}.mb-20 { margin-bottom: 20px;}.mb-25 { margin-bottom: 25px;}.mb-30 { margin-bottom: 30px;}.mb-35 { margin-bottom: 35px;}.mb-40 { margin-bottom: 40px;}.mb-50 { margin-bottom: 50px;}.mb-60 { margin-bottom: 60px;}.mb-100 { margin-bottom: 100px;}
.pt-10 { padding-top: 10px;}.pt-15 { padding-top: 15px;}.pt-20 { padding-top: 20px;}.pt-25 { padding-top: 25px;}.pt-30 { padding-top: 30px;}.pt-35 { padding-top: 35px;}.pt-40 { padding-top: 40px;}.pt-50 { padding-top: 50px;}.pt-60 { padding-top: 60px;}.pt-65 { padding-top: 65px;}.pt-80 { padding-top: 80px;}.pt-100 { padding-top: 100px;}
.pb-10 { padding-bottom: 10px;}.pb-15 { padding-bottom: 15px;}.pb-20 { padding-bottom: 20px;}.pb-25 { padding-bottom: 25px;}.pb-30 { padding-bottom: 30px;}.pb-35 { padding-bottom: 35px;}.pb-40 { padding-bottom: 40px;}.pb-50 { padding-bottom: 50px;}.pb-60 { padding-bottom: 60px;}.pb-100 { padding-bottom: 100px;}
header .navbar {
   /* padding-left: 0;
    padding-right: 0;*/
    background: #fff;
}

header .navbar-nav {
    float: right;
    display: block;
}

header .navbar-nav li {
    float: left;
	margin-left:5px;
}

header .navbar-nav .nav-link {
    color: #000;
    border-radius: 3px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:500;
	padding-left:20px !important;
	padding-right:20px !important;
	border-width:0;
}

header .navbar-nav .nav-link:hover, header .navbar-nav li.active a {
    background: rgb(32, 203, 246);
	background: -moz-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(23, 61, 83)), color-stop(100%, rgb(23, 61, 83)));
	background: -webkit-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -o-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -ms-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: linear-gradient(135deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ef620', endColorstr='#415317', GradientType=1 );
    color: #fff;
}
 
header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(248,164,30, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 767.98px) {
    header .navbar-nav {
       background: rgb(32, 203, 246);
	background: -moz-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(32, 203, 246)), color-stop(100%, rgb(23, 61, 83)));
	background: -webkit-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -o-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -ms-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: linear-gradient(135deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ef620', endColorstr='#415317', GradientType=1 );
        color: #fff;
    }
    header .navbar-nav li {
         display: block;
    }
    header .navbar-nav .nav-link {
        color: #fff;
    }
}

.banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: calc(100vh - 99px)
}

.banner .container {
	min-height:400px;
    height: 100vh;
}

.banner .container .row {
    height: 100vh;
}

.banner h1 {
    font-family: 'Montserrat', sans-serif;
	font-size:40px;
	line-height:70px;
	font-weight:600;
	display: block;
 	text-transform:uppercase;
	color:#000;
	margin-bottom:15px;
}

.banner h1 span {
	font-size:45px;
    color: #06abf8;
    display: inline;
	font-weight:700;
	font-family: 'Reem Kufi', sans-serif;
}

.banner p {
	font-size:16px;
	line-height:25px;
	text-transform:uppercase; letter-spacing:8px;
	margin-bottom:30px;
	font-weight:500;
	color:#000;	
	font-family: 'Comfortaa', cursive;
}
.banner a {
	font-size:14px;
	font-weight:500;
	letter-spacing:2px;
	text-transform:uppercase;
	padding:10px 20px;
	background: rgb(32, 203, 246);
	background: -moz-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(32, 203, 246)), color-stop(100%, rgb(23, 61, 83)));
	background: -webkit-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -o-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -ms-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: linear-gradient(135deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ef620', endColorstr='#415317', GradientType=1 );
	border-color:#06abf8;
	border-width:0;
	 
	}

.banner-inner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: 300px;
	position:relative;
}
.banner-inner:before {
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	color:#fff;
	background: rgba(0,0,0,0.6);
	}

.banner .container {
	banner-inner-height:400px;
   height: 300px
}

.banner-inner .container .row {
    height: 300px
}

.banner-inner .breadcrumb{
	font-family: 'Lato', sans-serif;
	padding: 0.5rem 1rem;
	background: rgb(32, 203, 246);
	background: -moz-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(32, 203, 246)), color-stop(100%, rgb(23, 61, 83)));
	background: -webkit-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -o-linear-gradient(-45deg,rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -ms-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: linear-gradient(135deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ef620', endColorstr='#415317', GradientType=1 );
	}
.banner-inner .breadcrumb li a {
	color:#fff !important;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;
	}
.banner-inner .breadcrumb li.active {
	color:#fff !important;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;
	font-weight:600;
	}	
.banner-inner .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}

.banner-inner h1 {
    font-family: 'Reem Kufi', sans-serif;
	font-size:40px;
	line-height:70px;
	font-weight:600;
	display: block;
 	text-transform:uppercase;
	color:#fff;
	margin-top:0;
	margin-bottom:15px;
}

.section {
	padding:60px 0;
	}
.grey-bg {
	background:#f8f8f8;
	}
.green-bg {
	background: rgb(32, 203, 246);
	background: -moz-linear-gradient(-45deg,rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(32, 203, 246)), color-stop(100%, rgb(23, 61, 83)));
	background: -webkit-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -o-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -ms-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: linear-gradient(135deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ef620', endColorstr='#415317', GradientType=1 );
	}
.black-bg {
	background-color:#000;
	}	
.card-icon {
	padding:40px 0 20px;
	}
.heading-blk {
	margin-bottom:50px;
	}
.heading-blk h2{
	letter-spacing:2px;
	font-size:25px;
	font-family: 'Reem Kufi', sans-serif;
	font-weight:600;
	}
.card-vision h5{
	font-weight:600;
	font-family: 'Reem Kufi', sans-serif;
	}

.card-deck-eve {
	
	}
.text-clr-wt {
	color:#fff;
	}
.verser-blk {
	position:relative;
	padding:100px 0;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	}
.verser-blk:before {
	position:absolute;
	background:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	content:'';
	}	
.verser-blk .container {
	position:relative;
	z-index:1;
	}	
.verser-blk h2{
	margin-bottom:30px;
	}
.verser-blk p {
	line-height:25px;
	letter-spacing:2px;
	margin-bottom:30px;
	}
.verser-blk span {
	color: #06abf8;
	letter-spacing:2px;
	}
.card-gallery {
	margin-bottom:30px;
	padding-bottom:80% !important;
	position:relative;
	}	
.card-gallery a{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	transition:all ease-in-out 0.3s;
	}
.card-gallery a img {
	width:100%;
	height:100%;
	object-fit:cover;
	transition:all ease-in-out 0.3s;
	transform:scale(1);
	}	
.card-gallery a span {
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	right:0;
	top:-100%;
	bottom:0;
	color:#fff;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:25px;
	background: rgb(32, 203, 246);
	background: -moz-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(32, 203, 246)), color-stop(100%, rgb(23, 61, 83)));
	background: -webkit-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -o-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -ms-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: linear-gradient(135deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ef620', endColorstr='#415317', GradientType=1 );
	transition:all ease-in-out 0.3s;
	}	
.card-gallery:hover a img {
	transform:scale(1.1);	
	}	
.card-gallery:hover a span { 
	top:0%;
}	
	
	
.reviews_cont_inner p{font-size:16px; line-height:25px; letter-spacing:2px; }
.review-in {position:relative;}
.review-in:before{content:'“'; font-size:125px; display:inline-block; color:#06abf8; position:absolute; line-height:60px; top:10px; left:-60px; font-weight:400;}
.review-in:after{content:'“'; font-size:125px; display:inline-block; color:#06abf8; position:absolute; line-height:60px; bottom:-10px; right:-60px;  font-weight:400; transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-ms-transform:rotate(-180deg);-o-transform:rotate(-180deg);-moz-transform:rotate(-180deg);}
.reviews_cont_inner span{font-size:15px; float:right; line-height:25px; font-style:italic; letter-spacing:2px;}
.reviews_cont_inner {   display:block;  margin:0 auto; padding:45px 80px 20px 100px; position:relative; }
.footer {
	background:#cdcfd1;
	color:#000;
	}
.footer .container {
	position:relative;
	}	
.arrow-top {
	width:40px;
	height:40px;
	position:absolute;
	left:50%;
	top:-60px;
	text-align:center;
	color:#fff;
	border-radius:50%;
	font-size:20px;
	line-height:40px;
	font-weight:500;
	margin-left:-20px;
	letter-spacing:2px;
	text-transform:uppercase;
	padding:0;
	background: rgb(32, 203, 246);
	background: -moz-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(32, 203, 246)), color-stop(100%, rgb(23, 61, 83)));
	background: -webkit-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -o-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -ms-linear-gradient(-45deg, rrgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: linear-gradient(135deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ef620', endColorstr='#415317', GradientType=1 );
	border-color:#06abf8;
	border-width:0;
	}	
.event-date {
	display:inline-block;
	padding:8px 20px;
	font-size:14px;
	line-height:16px;
	background: rgb(32, 203, 246);
	background: -moz-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(32, 203, 246)), color-stop(100%, rgb(23, 61, 83)));
	background: -webkit-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -o-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -ms-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: linear-gradient(135deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ef620', endColorstr='#415317', GradientType=1 );
	color:#fff;
	position:relative;
	top:0px;
	margin:0;
	}
.event-date-main {
	position:absolute;
	width:100%;
	left:0; 
	right:0;
	top:-20px;
	}	
.event-list .card-body {
	padding-top:30px;
	position:relative;
	
	}	

/**************** contact **********/

.contactblockleft {
    display: inline-block;
    padding-right: 30px;
    border-right: 1px solid #e0e0e0;
}

.contactblockleft h2 {
	font-family: 'brandongrotesque';
     font-size: 20px;
    line-height: 25px;
    display: block;
    color: #000;
	font-weight:bold;
    padding: 0 0px;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 20px 0;
}

 
 

.contactblockleft p {
     font-size: 14px;
    line-height: 25px;
    display: block;
    color: #777777;
    font-weight: normal;
}

.formblock {
    padding: 10px 0 0 0;
}

.formblock .form-control {
    color: #777777 !important;
    background: #ffffff;
    font-size: 16px;
    line-height: 25px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    resize: none;
    border-bottom: 2px solid #dedede;
    padding: 12px 12px;
    height: 45px;
}

.formblock textarea.form-control {
    height: auto;
}

.formblock .btn-send {
	margin-top:10px;
	font-size:14px;
	font-weight:500;
	letter-spacing:2px;
	text-transform:uppercase;
	padding:10px 20px;
	background:  rgb(32, 203, 246);
	background: -moz-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%,  rgb(32, 203, 246)), color-stop(100%, rgb(23, 61, 83)));
	background: -webkit-linear-gradient(-45deg,  rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -o-linear-gradient(-45deg,  rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -ms-linear-gradient(-45deg,  rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: linear-gradient(135deg,  rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ef620', endColorstr='#415317', GradientType=1 );
	border-color:#06abf8;
	border-width:0;
}

.formblock .btn-send:hover {
     
}

.formblock .form-control::-webkit-input-placeholder {
    color: #777777;
}

.formblock .form-control:-moz-placeholder {
    color: #777777;
}

.formblock .form-control::-moz-placeholder {
    color: #777777;
}

.formblock .form-control:-ms-input-placeholder {
    color: #777777;
}

.contactblockright {
    display: inline-block;
    /*border-left:1px solid #e0e0e0;*/
    padding-left: 30px;
}

.contactblockright h2 {
    font-family: 'brandongrotesque';
    font-size: 20px;
    line-height: 25px;
    display: block;
    color: #000;
    padding: 0 0px;
    text-transform: uppercase;
    position: relative;
	font-weight:bold;
    margin: 0 0 10px 0;
}
.card-title a {
	color:inherit;
	text-decoration:none;
	}
.card-text a {
	color:inherit;
	text-decoration:none;
	}	
	
.contactblockright h2 i {
    padding: 0 5px 0 0;
	width:30px;
}

.contactblockright p {
    
    font-size: 15px;
    line-height: 25px;
    display: block;
    color: #777777;
    font-weight: normal;
    padding: 0 0 0px 0;
    text-align: left;
}

.contactblockright p a {
    
    font-size: 15px;
    line-height: 25px;
    display: block;
    color: #777777;
    font-weight: normal;
    display: inline-block;
}



.social {
    display: inline-block;
    padding: 0px 0 0 0;
}

.social ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
	list-style:none;
}

.social ul li {
    margin: 0;
    padding: 0 5px 5px 0px;
    float: left;
	list-style:none;
}

.social ul li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #c5c5c5;
    border-radius: 50%;
    font-size: 16px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
}

.social ul li a:hover {
    background:  rgb(32, 203, 246);
	background: -moz-linear-gradient(-45deg,  rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%,  rgb(32, 203, 246)), color-stop(100%, rgb(23, 61, 83)));
	background: -webkit-linear-gradient(-45deg,  rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -o-linear-gradient(-45deg,  rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: -ms-linear-gradient(-45deg, rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	background: linear-gradient(135deg,  rgb(32, 203, 246) 0%, rgb(23, 61, 83) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ef620', endColorstr='#415317', GradientType=1 );
}	

@media (max-width:1170px){
	.container {
		width:100%;
		max-width: 100%;
		}
}
@media (max-width:767px){
 
	header .navbar-nav {
		float: none;
		display: block;
	}
	
	header .navbar-nav li {
		float: none;
	}	
	
}	
	

